header
  .wrap
    .slogan
      p.logo URL=>IMAGE 
      p.subtitle Covert [URL|DIV] to Image
      .clear

    ul.menu
      li 
        a(href="/").current HOME
      li 
        a(href="/plan") PLAN
      li 
        a(href="/signup") SIGNUP
